body {
  margin: 0;
  font-family: Arial, sans-serif;
  direction: rtl;

  /* صورة الخلفية */
  background-image: url("images/backgrounde.jpg");
  background-size: cover;        /* تغطي الشاشة */
  background-position: center;   /* في الوسط */
  background-repeat: no-repeat;  /* بدون تكرار */
}

header {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  border-radius: 12px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
footer {
  background: #000;
  color: #fff;
  padding: 25px 15px;
  margin-top: 30px;
  text-align: center;
}

.footer-box {
  margin-bottom: 15px;
}

.footer-box h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

footer p {
  font-size: 14px;
}

.copyright {
  margin-top: 15px;
  font-size: 13px;
  opacity: 0.8;
}
