body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
  direction: rtl;
}

header {
  background: black;
  color: white;
  padding: 20px;
}

.product {
  background: white;
  width: 90%;
  max-width: 350px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 12px;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

form button {
  background: black;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
}
