body {
  margin: 0;
  font-family: Arial, sans-serif;
  direction: rtl;

  /* صورة الخلفية */
  background-image: url("images/bge.jpg");
  background-size: cover;        /* تغطي الشاشة */
  background-position: center;   /* في الوسط */
  background-repeat: no-repeat;  /* بدون تكرار */
}

header {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.products {
  display: block;      /* واحد تحت الآخر */
  padding: 20px;
}

.product {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  border-radius: 12px;
}

.product {
  width: 100%;
  max-width: 350px;
  margin: 20px auto;   /* يوسّط المنتج */
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
footer {
  background: #000;
  color: #fff;
  padding: 25px 15px;
  margin-top: 30px;
  text-align: center;
}

.footer-box {
  margin-bottom: 15px;
}

.footer-box h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

footer p {
  font-size: 14px;
}

.copyright {
  margin-top: 15px;
  font-size: 13px;
  opacity: 0.8;
}
/* تصميم خاص بالهاتف */
@media (max-width: 768px) {

  .product {
    max-width: 100%;     /* يأخذ عرض الهاتف */
    padding: 30px;       /* تكبير البطاقة */
    margin: 20px auto;
  }

  .product img {
    min-height: 300px;   /* صورة أكبر */
    object-fit: cover;
  }

  .product h2 {
    font-size: 20px;     /* عنوان أكبر */
  }

  .product p {
    font-size: 16px;     /* وصف أوضح */
  }

  .price {
    font-size: 22px;     /* سعر أكبر */
  }

  button,
  .order-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
  }

  form input,
  form select,
  form textarea {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    margin-bottom: 10px;
  }

  footer {
    font-size: 14px;
  }
}
